<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       
        <bean id="adr" class="com.test.Address">
        <constructor-arg name="street" value="SBI Colony"></constructor-arg>
         <constructor-arg name="city" value="MPL"></constructor-arg>
        
                 </bean>   
           
 <bean id="emp" class="com.test.Employee">
        <constructor-arg name="id" value="102"></constructor-arg>
         <constructor-arg name="employeeName" value="Priya"></constructor-arg>
          <constructor-arg name ="Address" ref="adr"></constructor-arg>
   </bean>        
  </beans>