<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletContextExample</display-name>
  <servlet>  
<servlet-name>Servlet</servlet-name>  
<servlet-class>test.com.ServletCon</servlet-class>  
</servlet>  
  
<context-param>  
<param-name>dname</param-name>  
<param-value>hai</param-value>  
</context-param>  
  
<servlet-mapping>  
<servlet-name>Servlets</servlet-name>  
<url-pattern>/servlet</url-pattern>  
</servlet-mapping>  
  
</web-app>